# Título

## Antonio Drago Caetano

https://www.linkedin.com/in/antoniodragoc/

https://github.com/dragoc1

# Introdução

# Descrição dos dados

# Objetivos e análises

# Importação das Bibliotecas

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
import warnings

#ignorar os avisos do python
warnings.filterwarnings('ignore')

# Definindo as funções

# Importação dos Dados

In [7]:
from zipfile import ZipFile
zf = ZipFile(r'./dados/archive.zip')
dados = pd.read_excel(zf.open('Kaggle_Sirio_Libanes_ICU_Prediction.xlsx'))

# Limpeza dos Dados

# Análise exploratória

# Modelos de Machine Learning

# Tunning do melhor modelo

# Referências

https://www.kaggle.com/harriwashere/task-1-eda-3-model-ensemble

https://www.kaggle.com/felipeoliveiraml/stacking-gradient-boosting-pr-80

https://www.kaggle.com/carlolepelaars/quick-eda-exploratory-data-analysis

https://www.kaggle.com/fernandoramacciotti/interpretable-icu-risk-0-2-window-only

https://github.com/HenriqueCCdA/BC_DS_Projeto_Final

## Artigos
https://neptune.ai/blog/f1-score-accuracy-roc-auc-pr-auc

In [156]:
dados['ICU'].value_counts()

0    1410
1     515
Name: ICU, dtype: int64

In [157]:
# Removendo os valores nulos
dados_limpos = dados.dropna()

# Para pegar somente as tabelas que possuem valores numéricos iremos utilizar dados.describe().columns
x = dados_limpos[dados_limpos.describe().columns].drop(['ICU'], axis=1)
y = dados_limpos['ICU']

In [158]:
x.head()

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,HTN,...,HEART_RATE_DIFF,RESPIRATORY_RATE_DIFF,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL
4,0,1,0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.114504,0.176471,-0.238095,-0.818182,-0.389967,0.407558,-0.230462,0.096774,-0.242282,-0.814433
6,1,1,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
8,1,1,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,-0.923664,-0.764706,-0.880952,-1.000000,-0.906832,-0.831132,-0.940967,-0.817204,-0.882574,-1.000000
9,1,1,1,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.114504,0.764706,0.142857,-0.797980,0.315690,0.200359,-0.239515,0.645161,0.139709,-0.802317
14,2,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.419847,-0.705882,-0.500000,-0.898990,-0.612422,-0.343258,-0.576744,-0.695341,-0.505464,-0.900129

In [159]:
from sklearn.linear_model import LogisticRegression

modelo = LogisticRegression()
modelo.fit(x,y)

LogisticRegression()

In [160]:
x.iloc[4]

PATIENT_VISIT_IDENTIFIER           2.000000
AGE_ABOVE65                        0.000000
GENDER                             0.000000
DISEASE GROUPING 1                 0.000000
DISEASE GROUPING 2                 0.000000
                                     ...
BLOODPRESSURE_SISTOLIC_DIFF_REL   -0.343258
HEART_RATE_DIFF_REL               -0.576744
RESPIRATORY_RATE_DIFF_REL         -0.695341
TEMPERATURE_DIFF_REL              -0.505464
OXYGEN_SATURATION_DIFF_REL        -0.900129
Name: 14, Length: 228, dtype: float64

In [161]:
# Testando a precisão do modelo. Importante passar o x.iloc dentro do colchetes pois se não vai passar os valores das colunas somente, então o modelo não entenderá o que é para fazer
modelo.predict([x.iloc[4]])

array([1], dtype=int64)

In [162]:
y.iloc[4]

1

Podemos observar que o modelo teve sucesso em prever que de fato o paciente em questão foi para a UTI

In [163]:
#display(print('O modelo acertou em: %d dos casos' % (sum(modelo.predict(x[:20]) == y[:20]) )))
display(print('O modelo acertou em: {} dos casos'.format(sum(modelo.predict(x[:20]) == y[:20]) )))
modelo.predict(x[:20]) == y[:20]

O modelo acertou em: 20 dos casos

None

4     True
6     True
8     True
9     True
14    True
19    True
22    True
24    True
29    True
34    True
36    True
39    True
44    True
49    True
50    True
54    True
59    True
64    True
69    True
70    True
Name: ICU, dtype: bool

In [164]:
#display(print('O modelo acertou em: %d dos casos' % (sum(modelo.predict(x[:20]) == y[:20]) )))
print('O modelo acertou em: {} dos casos e errou em {}'.format(sum(modelo.predict(x) == y),sum(modelo.predict(x) != y) ))
print('A acuracia do modelo foi de {:.2%} '.format(sum(modelo.predict(x) == y)/len(y)))

O modelo acertou em: 497 dos casos e errou em 48
A acuracia do modelo foi de 91.19%

Separando os dados em treino e teste com a ferramenta train_train_split

In [165]:
from sklearn.model_selection import train_test_split

# Stratificar é manter a proporção com base em alguma coluna, por exemplo, no nosso caso irá manter a proporção de 0 e 1 com base na coluna y
x_train, x_test, y_train, y_test = train_test_split(x,y, stratify = y, random_state = 73246)

In [166]:
import warnings
#ignorar os avisos do python
warnings.filterwarnings('ignore')

from sklearn.metrics import accuracy_score
# Definindo o modelo
modelo = LogisticRegression()

# Treinando o modelo
modelo.fit(x_train, y_train)

# Fazendo as previsões para os dados de teste
yhat = modelo.predict(x_test)

# Comparando o que foi previsto com os valores corretos
print('{:.2%}'.format(accuracy_score(y_test, yhat)))

83.21%

In [167]:
print(y_train.value_counts(normalize = True))
print()
print(y_test.value_counts(normalize = True))

0    0.514706
1    0.485294
Name: ICU, dtype: float64

0    0.518248
1    0.481752
Name: ICU, dtype: float64

In [168]:
dados.head(6)

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,AGE_PERCENTIL,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,...,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,WINDOW,ICU
0,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,0
1,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,2-4,0
2,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4-6,0
3,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,NaN,NaN,NaN,NaN,-1.000000,-1.000000,6-12,0
4,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-0.238095,-0.818182,-0.389967,0.407558,-0.230462,0.096774,-0.242282,-0.814433,ABOVE_12,1
5,1,1,90th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,1

In [169]:
from zipfile import ZipFile
zf = ZipFile(r'./dados/archive.zip')
dados = pd.read_excel(zf.open('Kaggle_Sirio_Libanes_ICU_Prediction.xlsx'))

Podemos observar que a primeira coluna se trata do identificador de visitas, logo não quer dizer que cada linha se trata de um paciente, além do mais, as 5 primeiras linhas apresentam o mesmo valor, logo, é relativo a um paciente que visitou o hospital 5 vezes no período de análise.

In [170]:
def preenche_tabela(dados):
    
    # Lendo a documentação dos dados sabemos que as features contínus são todas da coluna 13 até a anti-penúltima
    features_continuas_colunas = dados.iloc[:,13:-2].columns # No iloc, Não pegar nada do inicio (signifca que estamos pegando todas as linhas) e do final pegar as colunas entre 13 e a -2

    # Agrupando pelo identificador do paciente e preenchendo os valores nulos anteriores(bfill) e posteriores(ffill)
    features_continuas = dados.groupby('PATIENT_VISIT_IDENTIFIER', as_index= False)[features_continuas_colunas].fillna(method = 'bfill').fillna(method = 'ffill')


    # Pegando todas as linhas das colunas 0 até 13
    features_categoricas = dados.iloc[:,:13]
    # Pegando a Saída, todas as linhas das colunas -2 em diantes, ou seja, as duas últimas colunas apenas

    saida = dados.iloc[:,-2:]

    # Juntando as partes dos dados: 1 - parte não alterou nada, 2 - limpou e agrupou os dados e 3 - pegou os dados de saída
    dados_finais = pd.concat([features_categoricas, features_continuas, saida], ignore_index= True, axis  = 1 ) # Como argumento do pd.concat deve ser sempre uma lista, Ignorar o index que não está sendo utilizado (como todos tem o mesmo número de linhas, basta encaixar diretamente) e axis 1 para buscar os dados nas colunas e não nas linhas
    
    dados_finais.columns = dados.columns
    return dados_finais

In [171]:
# Utilizando a função criada para tratar os dados

dados_limpos = preenche_tabela(dados)
dados_limpos.dropna(inplace=True)
dados_limpos.describe()

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,HTN,...,RESPIRATORY_RATE_DIFF,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,ICU
count,1920.000000,1920.000000,1920.000000,1920.000000,1920.000000,1920.000000,1920.000000,1920.000000,1920.000000,1920.000000,...,1920.000000,1920.000000,1920.000000,1920.000000,1920.000000,1920.000000,1920.000000,1920.000000,1920.000000,1920.000000
mean,191.981771,0.468750,0.369792,0.108333,0.028125,0.097917,0.019792,0.128125,0.046875,0.213021,...,-0.758150,-0.812388,-0.910214,-0.818008,-0.759122,-0.848720,-0.771187,-0.813295,-0.910085,0.268229
std,111.312587,0.499152,0.482874,0.310882,0.165373,0.297279,0.139320,0.334316,0.211426,0.409549,...,0.433588,0.296775,0.255728,0.301726,0.389598,0.247117,0.401430,0.295619,0.256368,0.443153
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
25%,95.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
50%,191.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
75%,288.250000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.705882,-0.690476,-0.919192,-0.710805,-0.622483,-0.764487,-0.725806,-0.698390,-0.918403,1.000000
max,384.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [172]:
dados_limpos.query("WINDOW == '0-2' and ICU == 1 ")

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,AGE_PERCENTIL,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,...,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,WINDOW,ICU
5,1,1,90th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,1
85,17,0,40th,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,1
135,27,1,60th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,1
205,41,1,70th,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.666667,-0.858586,-0.689777,-0.399526,-0.891572,-1.000000,-0.663881,-0.858709,0-2,1
235,47,0,50th,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,1
240,48,0,60th,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,1
270,54,1,60th,0,0.0,0.0,1.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-0.890980,-0.841512,-1.000000,-1.000000,-1.000000,-1.000000,0-2,1
310,62,1,70th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,1
425,85,1,70th,0,0.0,0.0,1.0,0.0,0.0,0.0,...,-0.809524,-0.959596,-1.000000,-1.000000,-0.926209,-1.000000,-0.805768,-0.959631,0-2,1
450,90,0,50th,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,1
520,104,1,60th,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,1
530,106,1,70th,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.547619,-0.939394,-1.000000,-0.986858,-0.941935,-1.000000,-0.519055,-0.940999,0-2,1
545,109,0,30th,0,0.0,0.0,0.0,0.0,1.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,1
585,117,1,60th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,1
720,144,1,80th,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.952381,-0.737374,-0.947826,-0.673826,-0.950253,-0.939068,-0.953030,-0.729045,0-2,1
880,176,1,60th,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,1
1010,202,1,60th,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.976190,-0.979798,-0.845411,-0.796763,-0.940967,-0.561290,-0.977613,-0.980232,0-2,1
1030,206,0,20th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-0.979798,-0.859831,-0.846783,-0.918575,-0.956129,-1.000000,-0.980026,0-2,1
1130,226,1,Above 90th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.904762,-0.757576,-0.733807,-0.699763,-0.909438,-0.713885,-0.905024,-0.757786,0-2,1
1165,233,1,90th,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,1
1195,239,0,10th,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,1
1305,261,0,50th,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.928571,-1.000000,-1.000000,-1.000000,-0.878244,-0.931452,-0.928964,-1.000000,0-2,1
1350,270,1,70th,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.523810,-0.979798,-0.570332,-0.870112,-0.797296,-0.396774,-0.525121,-0.980232,0-2,1
1410,282,1,Above 90th,1,1.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,1
1430,286,0,40th,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-0.831266,-1.000000,-1.000000,0-2,1
1530,306,0,10th,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.928571,-0.939394,-0.955909,-0.899490,-0.937494,-0.831266,-0.929736,-0.938144,0-2,1
1575,315,0,50th,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,1
1645,329,1,90th,0,1.0,1.0,0.0,0.0,1.0,0.0,...,0.857143,-0.393939,-0.886166,-0.838466,0.074535,0.051075,0.862287,-0.388024,0-2,1
1795,359,1,80th,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,1
1810,362,0,10th,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,1
1830,366,0,30th,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,1
1895,379,1,Above 90th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.976190,-0.959596,-0.799034,-0.796630,-0.937704,-0.846962,-0.976483,-0.961262,0-2,1

São 32 pacientes que foram parar na UTI nas duas primeiras horas

In [173]:
# Vamos remover os pacientes que já chegaram no hospital e entraram na UTI
dados_limpos.query("WINDOW == '0-2' and ICU == 1 ")['PATIENT_VISIT_IDENTIFIER'].values # .values no final devolve uma lista com os valores da query

array([  1,  17,  27,  41,  47,  48,  54,  62,  85,  90, 104, 106, 109,
       117, 144, 176, 202, 206, 226, 233, 239, 261, 270, 282, 286, 306,
       315, 329, 359, 362, 366, 379], dtype=int64)

In [174]:
# Vamos remover os pacientes que já chegaram no hospital e entraram na UTI
remover = dados_limpos.query("WINDOW == '0-2' and ICU == 1 ")['PATIENT_VISIT_IDENTIFIER'].values # .values no final devolve uma lista com os valores da query

# Removendo os pacientes que já chegaram e entraram direto para a UTI
dados_limpos = dados_limpos.query("PATIENT_VISIT_IDENTIFIER not in @remover")

In [175]:
def prepare_window(rows):
    if(np.any(rows['ICU'])):
        rows.loc[rows['WINDOW'] == '0-2', 'ICU'] = 1 # Buscando as linhas em que a janela é "0-2" e ICU é 1
    return rows.loc[rows['WINDOW'] == '0-2']

In [176]:
dados_limpos = dados_limpos.groupby('PATIENT_VISIT_IDENTIFIER').apply(prepare_window) # Aplicando a função que busca os valores de janela 0-2
dados_limpos.describe()

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,HTN,...,RESPIRATORY_RATE_DIFF,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,ICU
count,352.000000,352.000000,352.000000,352.000000,352.000000,352.000000,352.000000,352.000000,352.000000,352.000000,...,352.000000,352.000000,352.000000,352.000000,352.000000,352.000000,352.000000,352.000000,352.000000,352.000000
mean,192.818182,0.457386,0.380682,0.105114,0.022727,0.090909,0.019886,0.127841,0.042614,0.193182,...,-0.962066,-0.965233,-0.985365,-0.963091,-0.958921,-0.976421,-0.964390,-0.965725,-0.985390,0.463068
std,110.763735,0.498890,0.486246,0.307136,0.149245,0.287889,0.139809,0.334388,0.202272,0.395356,...,0.110411,0.086132,0.032640,0.106132,0.117561,0.059606,0.095115,0.084306,0.033025,0.499344
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
25%,97.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
50%,191.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
75%,289.250000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,-1.000000,-0.979798,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-0.980333,1.000000
max,384.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,-0.058824,-0.238095,-0.757576,0.130435,0.378657,-0.535878,-0.268817,-0.285468,-0.732438,1.000000

In [181]:
dados_limpos.head()

,,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,AGE_PERCENTIL,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,...,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,WINDOW,ICU
PATIENT_VISIT_IDENTIFIER,,,,,,,,,,,,,,,,,,,,,,
0,0,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,1
2,10,2,0,10th,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-0.959596,-0.515528,-0.351328,-0.747001,-0.756272,-1.000000,-0.961262,0-2,1
3,15,3,0,40th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,0
4,20,4,0,10th,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.952381,-0.979798,-1.000000,-0.883669,-0.956805,-0.870968,-0.953536,-0.980333,0-2,0
5,25,5,0,10th,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.976190,-0.979798,-0.860870,-0.714460,-0.986481,-1.000000,-0.975891,-0.980129,0-2,0

Agora temos somente 352 duas linhsa com identificador de paciente variando de 0 até 384

In [182]:
# Para pegar somente as tabelas que possuem valores numéricos iremos utilizar dados.describe().columns
x = dados_limpos[dados_limpos.describe().columns].drop(['ICU'], axis=1)
y = dados_limpos['ICU']

In [183]:
y.value_counts()

0    189
1    163
Name: ICU, dtype: int64

In [227]:
from sklearn.model_selection import train_test_split
np.random.seed(748596)
# Stratificar é manter a proporção com base em alguma coluna, por exemplo, no nosso caso irá manter a proporção de 0 e 1 com base na coluna y
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 1/3,stratify = y)

In [228]:
import warnings
#ignorar os avisos do python
warnings.filterwarnings('ignore')

from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.linear_model import LogisticRegression
# Definindo o modelo
modelo = LogisticRegression()

# Treinando o modelo
modelo.fit(x_train,y_train)

# Fazendo as previsões para os dados de teste
yhat = modelo.predict(x_test)

# Comparando o que foi previsto com os valores corretos
print('{:.2%}'.format(accuracy_score(y_test, yhat)))

75.42%

In [229]:
print(confusion_matrix(y_test,yhat))

[[51 12]
 [17 38]]

In [230]:
print(classification_report(y_test,yhat))

              precision    recall  f1-score   support

           0       0.75      0.81      0.78        63
           1       0.76      0.69      0.72        55

    accuracy                           0.75       118
   macro avg       0.76      0.75      0.75       118
weighted avg       0.75      0.75      0.75       118